.wrap {
  background-color: white;
  margin: 0 auto;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.38);
}

.friendlist {
}

.friendlist_item:not(:last-child) {
  margin-bottom: 10px;
}
